.twPc-div {
    
    background-image: url("../img/_profil_STAFF_white.jpg");
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    max-width: 340px; // orginal twitter width: 290px;
}
.twPc-bg {
   /*  background-image: url("../img/_profil_STAFF_white.jpg"); */
    background-position: 0 50%;
    background-size: 100% auto;
   /*  border-bottom: 1px solid #e1e8ed; */
    border-radius: 4px 4px 0 0;
    height: 98px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.cardProfil {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
    color: grey;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    position: absolute;
    overflow:hidden;
    border-radius:100%;
    width:100px;
    height:100px;
    z-index: 2;
    top:5%;
    left: 2%;

    /* border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px; */
}

