.fondSite{
background-color: #50E3C2;
}

.hide-bullets {
    list-style:none;
    vertical-align:center;
}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;

}


.shop {
	background-color: white;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 40px;
  	width: 800px; 
  	height: 500px;
  	padding-top: 10px;
  	border-radius: 10px;
}

.personaliserCarte{
	margin-left: auto;
  	margin-right: auto;
	background-color: white;
	width: 800px;
	height: 50px;
	text-align: center;
	color: #50E3C2;
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bandSelect{
	margin-left: auto;
  	margin-right: auto;
  	width: 800px; 
  	height: 15px;
}

.selectMetier{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	width: 170px;
	height: 40px;
	color: white;
	border-radius: 10px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ajouterCarte{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	width: 220px;
	height: 40px;
	color: white;
	border-radius: 10px;
	border: 2px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-left: 410px;
}

.thumbnail {
    width: 150px;
    height: 80px;
    z-index: 1;
}

.plusOkIcon{
	width: 40px;
	height: 40px;
	position: absolute;
    z-index: 2;
    border-radius: 10px;
    top:40px;
    left: 130px;
}


#slider-thumbs{
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
}