.fondSite{
background-color: #50E3C2;
}

.hide-bullets {
    list-style:none;
    vertical-align:center;
}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;

}


.shop {
	background-color: white;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 40px;
  	width: 800px; 
  	height: 500px;
  	padding-top: 10px;
  	border-radius: 10px;
  	overflow-x: scroll
}

.personaliserCarte{
	background-color: white;
	width: 800px;
	height: 50px;
	text-align: center;
	border:1px ;
	font-family:Arial;
	padding:10px 20px;
	font-size:18px; 
	font-weight: bold;
	color: #50E3C2;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bandSelect{
	margin-left: auto;
  	margin-right: auto;
  	width: 800px; 
  	height: 15px;
}

.selectMetier{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	width: 170px;
	height: 40px;
	color: white;
	border-radius: 10px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ajouterCarte{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	width: 220px;
	height: 40px;
	color: white;
	border-radius: 10px;
	border: 2px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-left: 410px;
}

.thumbnail {
    width: 150px;
    height: 80px;
    z-index: 1;
}

.plusOkIcon{
	width: 40px;
	height: 40px;
	position: absolute;
    z-index: 2;
    border-radius: 10px;
    top:40px;
    left: 130px;
}


#slider-thumbs{
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
}

table{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
}

.modal-header{
	background-color: #50E3C2;
	color: white;
	width: 600px;
	height: 700px;
	border-radius: 10px;

}

.p1{
	font-size: 18px;
}

.bouttonContact{
	background-color:white;
	border-radius: 10px;
	border:1px ;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	color:#50E3C2;
	font-family:Arial;
	font-size:18px;
	padding:10px 20px;
	float: right;
}

.modal-header1{
	background-color: #50E3C2;
	color: white;
	width: 600px;
	height: 400px;
	border-radius: 10px;

}

.textContact{
	width: 243px;
	height: 35px;
	color: #50E3C2;
	border-radius: 5px;

}

.messageContact{
	width: 490px;
	height: 100px;
	color: #50E3C2;
	vertical-align: top;
    text-align: left;
    border-radius: 5px;
}

.card{
	background-size: 100%;
}