 
<section class ="fondSite" > 
<!-- boutton modal personnliser carte -->
   <center><button class="personaliserCarte" data-toggle="modal" data-target="#myModal">Faites personnaliser votre carte &nbsp &nbsp<span class = "glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
    </button></center> 

<!-- modal Personnaliser carte -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <table border="0"> 
                <tr>
                    <td>
                        <p class="p1"><span class="modal-title" id="myModalLabel">
                            Nous créons votre carte personnalisée aux fonctionnalités premium
                        </span> </p>
                        <br>
                        <p class="p2"><span>
                          Charte graphique, slogan, logo, design, nos graphistes s'occupent d'intégrer votre identité en suiant à la lettre vos recommandations.  
                        </span></p>
                        <p class="p2"><span>
                            Nous associons aux cartes personnalisée des fonctionalités premium adaptées à votre secteur d'activité.
                        </span></p>
                        <br>
                        <p class="p1"><span>
                            Qu'attendez-vous pour donner une nouvelle impulsion à vos réseaux!?
                        </span></p>
                    </td>
                </tr>
               
                <tr>
                    <td>
                     <button class="bouttonContact" ng-show="!textContact" ng-click ="textContact=!textContact" >Contactez-nous</button>
                    </td>
                </tr>
                <div ng-submit="">
                    <tr >
                        <td>
                            <input class="textContact" type="text" name="nom" ng-show="textContact" placeholder="Votre nom" ng-model = "textNom">
                        
                             <input class="textContact" type="text" name="prénom" ng-show="textContact" placeholder="Votre prénom" ng-model = "textPrenom">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <br>
                           <input class="textContact" type="text" name="adresse mail" ng-show="textContact" placeholder="Votre adresse email" ng-model="textEmail">
                        
                           <input class="textContact" type="text" name="numero telephone" ng-show="textContact" placeholder="Votre numero de telephone" ng-model = "textNumero">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <br>
                            <input class="messageContact" type="text" name="message" ng-show="textContact" placeholder="Votre message" ng-model = "textMessage">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <br>
                            <a href="mailto:hvpillot@gmail.com"><button class="bouttonContact" ng-show="textContact" name="envoyer" >Envoyer</button></a>
                        </td>
                    </tr>
                </div>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td>
                        <p class="p1">
                            Faite votre carte avec un outil graphique.
                        <br></p>
                    </td>
                </tr>
                
                 <tr>
                    <td>
                     <button class="bouttonContact">Achetez l'outil graphique
                     </button>
                    </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- fin modal Personnaliser carte -->
 
        <div class="bandSelect" id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="selectMetier" data-toggle="dropdown" role="button" aria-expanded="false">Toutes metiers <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Design</a></li>
                        <li><a>Professionnelles</a></li>
                        <li class="divider"></li>
                        <li><a >Metal</a></li>
                        <li><a >Bois</a></li>
                        <li><a >Nature</a></li>
                        <li><a >Cartoon</a></li>
                        <li class="divider"></li>
                        <li><a >Noir et blanc</a></li>
                        <li><a >Bleu</a></li>
                        <li><a >Marron</a></li>
                        <li><a >Rouge</a></li>
                    </ul>
                </li>
                <li>
                <a class="ajouterCarte" data-toggle="dropdown" role="button" ng-switch = "textAjoute()" ng-show="fondAAjoute.length > 0">
                    <div ng-switch-when = false>Ajouter cette carte</div> 
                    <div ng-switch-when = true> Ajouter ces &nbsp {{fondAAjoute.length}}&nbsp cartes</div>
                </a></li>
            </ul>
        </div>
    
    <div class ="shop">     
        <div class="col-sm-1" id="slider-thumbs"> 
            <ul class="hide-bullets" ng-repeat = 'fond in fondCards'> 
                <li class="col-sm-3" ng-repeat = 'template in fond'> 
                    <a class="thumbnail" id="carousel-selector-{{template}}" 
                    ng-class="{{template}}" ng-click = "ajouteFond(template)"> 
                    
                        <div ng-switch = "isAdded(template)">
                            <img  ng-switch-when=false class="plusOkIcon" src="img/plus.jpg" alt="plus">   
                            <img ng-switch-when=true class="plusOkIcon" src="img/ok.jpg" alt="ok"> 
                        </div>
                    </a> 
                </li> 
            </ul> 
        </div>   
    </div> 
</section>