 
<section class ="fondSite" > 
    <h3 class="personaliserCarte" data-toggle="dropdown" role="button">Faites personnaliser votre carte &nbsp &nbsp<span class = "glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </h3>
    
        <div class="bandSelect" id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="selectMetier" data-toggle="dropdown" role="button" aria-expanded="false">Toutes metiers <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Design</a></li>
                        <li><a>Professionnelles</a></li>
                        <li class="divider"></li>
                        <li><a >Metal</a></li>
                        <li><a >Bois</a></li>
                        <li><a >Nature</a></li>
                        <li><a >Cartoon</a></li>
                        <li class="divider"></li>
                        <li><a >Noir et blanc</a></li>
                        <li><a >Bleu</a></li>
                        <li><a >Marron</a></li>
                        <li><a >Rouge</a></li>
                    </ul>
                </li>
                <li><a class="ajouterCarte" data-toggle="dropdown" role="button"> Ajouter ces &nbsp {{count}} &nbsp cartes </a></li>
            </ul>
        </div>
    
    <div class ="shop">     
        <div class="col-sm-1" id="slider-thumbs"> 
            <ul class="hide-bullets" ng-repeat = 'fond in fondCards'> 
                <li class="col-sm-3" ng-repeat = 'template in fond'> 
                    <a class="thumbnail" id="carousel-selector-{{template}}" 
                    ng-class="{{template}}" > 
                        template : {{template}} 
                        <div ng-switch = "selectedIcon" ng-click= "selectedIcon=!selectedIcon"  >
                            <img ng-click= "comptCarte()" ng-switch-when="false" class="plusOkIcon" src="img/plus.jpg" alt="plus">   
                            <img ng-click= "comptCarte()" ng-switch-when="true" class="plusOkIcon" src="img/ok.jpg" alt="ok"> 
                        </div>
                    </a> 
                </li> 
            </ul> 
        </div>   
    </div> 
</section>