<div class="container">
	<div class="row col-lg-5" id="rowSign">
		<div class="row">
			<ivicard card="card" ></ivicard>
			<div>
				<a href="#/shop" class="btn btn-sg btn-default btn-block" id="buttonCard" type="button" >Choisir son fond de carte
                </a>
			</div>	
		</div>
	</div>


	<div class="row form-group col-lg-offset-0 col-lg-7 " id="sign">
		 <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
            <legend id="titre"><a  href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-pencil"></i></a > Mon profil</legend>
			<div class="row onl_row-sm-12 onl_socialButtons">
			          <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-block onl_btn-facebook" data-toggle="modal" data-placement="top" title="Facebook" data-target="#modalFacebook">
			              <i class="fa fa-facebook fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div>
						<!-- modal Facebook -->
					    <div class="modal fade" id="modalFacebook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Facebook
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideFacebook()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formFacebook" ng-submit="enregistreFacebook()">
					                        	<div class="form-group">
													<input type="texte" name="popupFacebook" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreFacebook()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Facebook -->
 

			          <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-block onl_btn-twitter" data-toggle="modal" data-placement="top" title="Twitter" data-target="#modalTwitter">
			              <i class="fa fa-twitter fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div> 
			          <!-- modal Twitter -->
					    <div class="modal fade" id="modalTwitter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Twitter
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideTwitter()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formFacebook" ng-submit="enregistreTwitter()">
					                        	<div class="form-group">
													<input type="texte" name="popupTwitter" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreTwitter()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Twitter  -->
			          <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-block onl_btn-linkedin" data-toggle="modal" data-placement="top" title="LinkedIn" data-target="#modalLinkedIn">
			              <i class="fa fa-linkedin fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div>
			          <!-- modal LinkedIn -->
					    <div class="modal fade" id="modalLinkedIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte LinkedIn
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideLinkedIn()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formFacebook" ng-submit="enregistreLinkedIn()">
					                        	<div class="form-group">
													<input type="texte" name="popupLinkedIn" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreLinkedIn()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal LinkedIn -->
			           <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-social-icon btn-snapchat-ghost" data-toggle="modal" data-placement="top" title="Snapchat" data-target="#modalSnapchat">
			              <i class="fa fa-snapchat-ghost fa-2x" ></i>
			              <span class="hidden-xs" aria-hidden="true"></span>
			            </a>
			          </div> 
			          <!-- modal Snapchat -->
					    <div class="modal fade" id="modalSnapchat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Snapchat
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideFacebook()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formFacebook" ng-submit="enregistreSnapchat()">
					                        	<div class="form-group">
													<input type="texte" name="popupSnapchat" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreSnapchat()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Snapchat -->
			          <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-block onl_btn-github" data-toggle="modal" data-placement="top" title="GitHub" data-target="#modalGitHub">
			              <i class="fa fa-github fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div>
			          <!-- modal GitHub -->
					    <div class="modal fade" id="modalGitHub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte GitHub
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideGitHub()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formGitHub" ng-submit="enregistreGitHub()">
					                        	<div class="form-group">
													<input type="texte" name="popupGitHub" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreGitHub()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal GitHub -->
			          <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-social-icon btn-viadeo" data-toggle="modal" data-placement="top" title="Viadeo" data-target="#modalViadeo">
			              <i class="fa fa-viadeo fa-2x" ></i>
			              <span class="hidden-xs" aria-hidden="true"></span>
			            </a>
			          </div>
			          <!-- modal Viadeo -->
					    <div class="modal fade" id="modalViadeo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Viadeo
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideSkype()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formViadeo" ng-submit="enregistreViadeo()">
					                        	<div class="form-group">
													<input type="texte" name="popupSkype" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifViadeo()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreViadeo()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Viadeo--> 
			  </div>      
			  		 <div class="row onl_row-sm-12 onl_socialButtons">       
			    		<div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-social-icon btn-skype" data-toggle="modal" data-placement="top" title="Skype" data-target="#modalSkype">
			              <i class="fa fa-skype fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div>
			          <!-- modal Skype -->
					    <div class="modal fade" id="modalSkype" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Skype
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideSkype()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formSkype" ng-submit="enregistreSkype()">
					                        	<div class="form-group">
													<input type="texte" name="popupSkype" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSkype()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreSkype()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Skype --> 
			          <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-block onl_btn-tumblr" data-toggle="modal" data-placement="top" title="Tumblr" data-target="#modalTumblr">
			              <i class="fa fa-tumblr fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div> 
			          <!-- modal Tumblr -->
					    <div class="modal fade" id="modalTumblr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Tumblr
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideTumblr()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formTumblr" ng-submit="enregistreTumblr()">
					                        	<div class="form-group">
													<input type="texte" name="popupTumblr" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreTumblr()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Tumblr -->
					  <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-social-icon btn-youtube" data-toggle="modal" data-placement="top" title="Youtube" data-target="#modalYoutube">
			              <i class="fa fa-youtube fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div> 
			          <!-- modal Youtube -->
					    <div class="modal fade" id="modalYoutube" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Youtube
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideYoutube()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formYoutube" ng-submit="enregistreYoutube()">
					                        	<div class="form-group">
													<input type="texte" name="popupYoutube" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreYoutube()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Youtube -->
			          <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-block onl_btn-pinterest" data-toggle="modal" data-placement="top" title="Pinterest" data-target="#modalPinterest">
			              <i class="fa fa-pinterest fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div>
			          <!-- modal Pinterest -->
					    <div class="modal fade" id="modalPinterest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Pinterest
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aidePinterest()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formPinterest" ng-submit="enregistrePinterest()">
					                        	<div class="form-group">
													<input type="texte" name="popupFacebook" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistrePinterest()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Pinterest -->
			         <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-social-icon btn-instagram" data-toggle="modal" data-placement="top" title="Instagram" data-target="#modalInstagram">
			              <i class="fa fa-instagram fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div> 
			          <!-- modal Instagram -->
					    <div class="modal fade" id="modalInstagram" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Instagram
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideInstagram()">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formInstagram" ng-submit="enregistreInstagram()">
					                        	<div class="form-group">
													<input type="texte" name="popupInstagram" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreInstagram()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Instagram -->
			          <div class="col-xs-2 col-sm-2">
			            <a class="btn btn-lg btn-block onl_btn-steam" data-toggle="modal" data-placement="top" title="Steam" data-target="#modalSteam">
			              <i class="fa fa-steam fa-2x"></i>
			              <span class="hidden-xs"></span>
			            </a>
			          </div>
			          <!-- modal Steam -->
					    <div class="modal fade" id="modalSteam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog" role="document">
					        <div class="modal-content">
					          <div class="modal-header1">
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					              <span aria-hidden="true">&times;</span>
					            </button>
					          </div>
					            <table id="popuSocial" border="0"> 
					                <tr>
					                    <td>
					                        <p class="p1">
					                        <span class="modal-title" id="myModalLabel">
					                            Compte Steam
					                        </span>
					                        <a href="#/helpSocial"><button class="btn btn-default btn-sg">Aide
					                        </button></a>
					                        </p>
					                        <p class="p2"><span>
					                        <form id="formSteam" ng-submit="enregistreSteam()">
					                        	<div class="form-group">
													<input type="texte" name="popupSteam" ng-model="user.social"> 
					                           		<button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
					                        	</div>
					                        	</span></p>
					                        	<div class="form-group">
					                        	<p class="p2">
					                        	<span>
					                            Appuyer sur vérifier:</span></p>
					                            <p class="p2">
					                            <span> Si votre compte apparait dans la fenetre qui s'ouvre, vous pouvez valider
					                            </span>
					                            </p>
					                        	</div>
					                        	<div>
					                        		<button class="btn btn-default" ng-click ="enregistreSteam()">Valider</button>
					                        	</div>
					                        </form>
					                    </td>
					                </tr>
					            </table>
					          </div>
					      </div>
					    </div>
					<!-- fin modal Steam -->
			</div><br>
        </div>
	 	<form  id="signForm" ng-submit="update()" class="form well well-sm" role="form">
			

			<label>Importer votre avatar</label>
			<div class="form-group">
				<div class="input-prepend input-append input-group ">
				<span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span><input type="text" id="avatar" name="avatar" ng-model="user.avatar"><button class="btn btn-default" type="button" ng-click="ajouter()">Upload</button>
				</div>
			</div>

			<div class="progress">
            	<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete (info)</span>
				</div>
            	<span class="progress-type">Remplissage de votre profil</span>
            	<span class="progress-completed">20%</span>
        	</div>
			<div class="form-group col-xs-6 col-sm-6 col-md-6">
             	<div class="input-group">
                    <span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" ng-model="user.last_name" class="form-control" name="lastname" placeholder="Nom" required/>
                </div>
           </div>
            <div class="form-group col-xs-6 col-sm-6 col-md-6">
             	<div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" ng-model="user.first_name" name="firstname" placeholder="Prénom" required/>
                </div>
           </div>
           <div class="form-group col-xs-6 col-sm-6 col-md-6">
                <div class="input-group">
                   <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span>
                   </span>
                   <input type="phone" class="form-control" ng-model="user.phone1" name="phone" placeholder="Tél" />
                </div>
            </div>
            <div class="form-group col-xs-6 col-sm-6 col-md-6">
                <div class="input-group">
                   <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span>
                   </span>
                   <input type="phone2" class="form-control" name="phone2" ng-model="user.phone2" placeholder="Tél 2" />
                </div>
            </div>
            <div class="form-group col-xs-6 col-sm-6 col-md-6">
                <div class="input-group">
                   <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span>
                   </span>
                   <input type="school" class="form-control" name="school" ng-model="user.job" placeholder="Poste / Etude / Classe" />
                </div>
            </div>
            <div class="form-group col-xs-6 col-sm-6 col-md-6">
                <div class="input-group">
                   <span class="input-group-addon"><span class="fa fa-industry"></span>
                   </span>
                   <input type="society" class="form-control" name="society" ng-model="user.company" placeholder="Société / Université / Lycée" />
                </div>
            </div>
             <div class="form-group col-xs-6 col-sm-6 col-md-6">
                <div class="input-group">
                   <span class="input-group-addon"><span class="fa fa-at"></span>
                   </span>
                   <input type="text" class="form-control"  name="email" ng-model="user.email" placeholder="Mail" />
                </div>
            </div>
             <div class="form-group col-xs-6 col-sm-6 col-md-6">
                <div class="input-group">
                   <span class="input-group-addon"><span class="fa fa-at"></span>
                   </span>
                   <input type="email" class="form-control" name="mail2"  ng-model="user.email2" placeholder="Mail 2" />
                </div>
            </div>
             <div class="form-group col-xs-6 col-sm-6 col-md-6"> 
                <div class="input-group">
                   <span class="input-group-addon"><span class="fa fa-home"></span>
                  
                   </span>
                   <input type="text" class="form-control" name="Localisation" ng-model="user.localisation" placeholder="Localisation"/>
                </div>
            </div>
             <div class="form-group col-xs-6 col-sm-6 col-md-6">
                 <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                    <input type="text" class="form-control" name="web" ng-model="user.website" placeholder="Site internet" />
                 </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12" ng-class="{'has-error': datepickerForm.date.$invalid}">
				<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                   <input class="form-control" name="birthday" ng-model="user.birth_date" bs-datepicker type="text" language="fr" data-format="dd-mmmm-yyyy" placeholder="Date de naissance"  />
            	</div>
            </div>
	        <button class="btn btn-sg btn-default btn-block" type="submit" ng-click="update()">
                Valider</button>        
	 	</form>
	</div>
	</div>
</div>