<header>
  <nav class="navbar navbar-custom navbar-top navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container-fluid">
      <a class="page-scroll btn-new btn-bold pull-right download-link" href="#download"><span class="fa fa-download"
                                                                                aria-hidden="true"></span> Télécharger
      </a>

      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- LOGO -->
        <a class="navbar-brand nav-logo" href="#page-top">
          <img src="images/logo-site.png" alt="mix"/>
        </a>
      </div>
      <!-- NAVIGATION LINKS -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a class="page-scroll" href="#page-top">Accueil</a></li>
          <li><a class="page-scroll" href="#firstFeature">Présentation</a></li>
          <li><a class="page-scroll" href="#screenshots">Images </a></li>
          <li><a class="page-scroll" href="#contact">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
    <!-- /.container -->
  </nav>
</header>