<!DOCTYPE html>
<html>
	<head>

	      <script src = "js/vendor/angular.js"></script>
	      <!--<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>-->
	      <script src = "js/vendor/angular-route.js"></script>
	      <script src = "js/vendor/angular-cookies.js"></script>

	      <script src="node_modules/lodash/lodash.js"></script>
	      
	      <script src="js/app.js"></script>
	      <script src="js/factories/me_facto.js"></script>
	      <script src="js/main_ctrl.js" ></script>
	      <script src="js/controllers/login_ctrl.js"></script>
	      <script src="js/controllers/shop_ctrl.js"></script>
	      <script src="js/factories/shop_facto.js"></script>
	      <script src="js/controllers/store_ctrl.js"></script>
	      <script src="js/factories/cards_facto.js"></script>
	      <script src="node_modules/lodash/lodash.js"></script>

	      <script src="js/vendor/angular-strap.min.js"></script>

			<script src="js/vendor/angular-strap.tpl.js"></script>

			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	      <!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


	      <!-- <script src="lib/js/bootstrap.min.js"></script>

	      <link href="lib/css/bootstrap-theme.min.css" rel="stylesheet">
	      <link href="lib/css/font-awesome.min.css" rel="stylesheet"> -->
		  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> 
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
      	<link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">

		  <link href="css/style.css" rel="stylesheet">
	      <link href="css/_login.css" rel="stylesheet">
	      <link href="css/signin.css" rel="stylesheet">
	      <link href="css/shop.css" rel="stylesheet">


	</head>

	<body ng-app="ivipulse" ng-controller="main_ctrl" data-spy="scroll" data-target=".navbar-custom">

		<nav class="navbar navbar-default" role="navigation" bs-navbar>
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">Brand</a>
		  </div>
		  <ul class="nav navbar-nav">
		    <li data-match-route="/home"><a href="#/">Home</a></li>
		    <li data-match-route="/shop"><a href="#/shop">SHOP</a></li>
		    <li data-match-route="/signin"><a href="#/signin">Signin</a></li>
		    <li class="dropdown" ng-controller="login_ctrl">
				<a class="dropdown-toggle" data-toggle="dropdown" ng-if="!loggedIn"><b>Login</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">
										Login via
										<div class="social-buttons">
											<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
											<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
										</div>
		                                ou
										 <div>
												<div class="form-group">
													 <label class="sr-only" for="exampleInputEmail2">Email</label>
													 <input 
													 ng-model="user.mail"
													 type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="exampleInputPassword2">Password</label>
													 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required
													 ng-model="user.password">
													 <input type="password" 
													 ng-show="state.mode=='inscription'"
													 ng-model="password_check"
													 class="form-control" id="exampleInputPassword3" placeholder="Password" required
													 >
		                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
												</div>
												<div class="form-group">
													 <button 
													 ng-show="state.mode=='connexion'"
													 class="btn btn-primary btn-block" ng-click="email_login();$event.stopPropagation()">Login</button>
													 <button 
													 ng-show="state.mode=='inscription'"
													 class="btn btn-primary btn-block" ng-click="email_signin();$event.stopPropagation()">S'inscrire</button>
												</div>
										 </div>
									</div>
									<div class="bottom text-center">
										<button ng-click="state.mode = 'connexion';$event.stopPropagation()"><b>Se connecter</b></button>
										<button ng-click="state.mode = 'inscription';$event.stopPropagation()"><b>S'inscrire</b></button>
									</div>
							 </div>
						</li>
					</ul>
				<a href="#" ng-click="logout()" ng-if="loggedIn">Logout</a>
		        </li>
		  </ul>
		</nav>

	    <div ng-view> 
	       
	    </div> 
  </body> 
  <link href='https://api.ivipulse.com/templates/all.css' rel='stylesheet'>

</html>